* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: dimgray; */
  background-color: #212529;
}

h1 {
  color: #e9d27c;
}

/* NAVBAR START */
.navbar-brand {
  display: flex;
  justify-content: space-between;
}

.navbar img {
  width: 10%;
  border-radius: 50%;
}

.custom-toggler,
.navbar-toggler-icon {
  border-color: #e9d27c;
  background-color: #e9d27c;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #e9d27c;
}

.list-group-item {
  background-color: transparent;
}
/* NAVBAR END */

/* HOME DESKTOP VIEW START */
.content {
  background: linear-gradient(to right, #212529 13%, transparent),
    url("/Images/Gold_and_Black.png");
  background-position: top right;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 100%;
  /* margin-bottom: 8%; */
}

.content > div {
  padding: 15% 0;
  background-size: 60%;
}

.content > div > h1 {
  font-size: 3.5rem;
}

.content > div span {
  font-size: 2rem;
}
/* HOME DESKTOP VIEW END */

/* HOME MOBILE VIEW START */
.contain > .contain-1 {
  padding: 22% 0 0 0;
}

.contain > .contain-1 > img {
  width: 40%;
}

.contain > div > h1 {
  font-size: 2.5rem;
}
/* HOME MOBILE VIEW END */

/* ABOUT SECTION START */
.about-parent {
  height: 100vh;
}

#about {
  margin-bottom: 5%;
}

.about-container .img-fluid {
  width: 75%;
}

.about-container .img {
  width: 100%;
}

.about-container .text-fluid{
  padding: 0 3%;
  font-size: 1.3rem;
}

/* @media screen and (max-width: 1728) and (min-width: 762) {
  .about-can {
    width: 100%;
  }
} */
/* ABOUT SECTION END */

/* SKILLS SECTION START */
.skills-section {
  height: 100vh;
}
/* SKILLS SECTION END */

/* PORTFOLIO START */
.port {
  height: 100vh;
  /* margin-top: 8%; */
}

.port > .row a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.port > .more > a {
  font-size: 1.2rem;
  color: white;
}

.port > .row a p:hover {
  color: #e9d27c;
}

.port > .more > a:hover {
  color: #e9d27c;
}
/* PORTFOLIO END */

/* RESUME START */
.my-resume {
  /* margin: 5% 0; */
  height: 70vh;
}

.my-resume > .more > a {
  font-size: 1.2rem;
  color: white;
}

.my-resume > .more > a:hover {
  color: #e9d27c;
}
/* RESUME END */

/* CONTACT START */
.footer {
  margin: 7% 0 5% 0;
  padding: 7% 0;
  border: 1px solid #e9d27c;
  height: 70vh;
}

.footer a {
  text-decoration: none;
  color: white;
  /* background-color: red; */
}

.footer-paragraph {
  font-size: 14px;
  margin-top: 5%;
}

.contact-me {
  z-index: 2;
  background-color: #212529;
}

.images {
  text-align: center;
  /* width: 100%; */
}

.img-flui{
  width: 30%;
  text-align: center;
}

.img-flui img {
  text-align: center;
  width: 11%;
}

.img-fluid {
  width: 30%;
  /* padding: 0 2%; */
}

.img-fluid img {
  text-align: center;
  width: 10%;
}

.img-flu img {
  text-align: center;
  width: 3%;
}
.last img {
  width: 100%;
  /* gap: 10%; */
}
/* CONTACT END */

.slider {
  width: 75%;
  max-width: 100vw;
  height: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-right: 3%;
}
.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
  text-align: center;
  /* width: 100%; */
}
.slider .list img {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button {
  width: 5%;
  /* height: 100%; */
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active {
  width: 30px;
}


@media (min-width: 320px) and (max-width: 568px) {
  nav {
    position: sticky;
  }

  .navbar img{
    width: 25%;
  }

  .navbar button{
    width: 15%;
  }

  .navbar button:focus{
    border: none;
  }

  .navbar button span{
    width: 100%;
  }

  /* HOME MOBILE VIEW START */
.contain > .contain-1 {
  padding: 22% 0 0 0;
}

.contain > .contain-1 > img {
  width: 80%;
  margin-bottom: 5%;
}

.contain > div > h1 {
  font-size: 2.5rem;
}
/* HOME MOBILE VIEW END */

/* About me */
.about-parent .about-container .img-fluid {
  width: 80%;
  margin: 0 auto;
}
.about-parent .about-container .img{
  width: 100%;
  padding: 0;
  margin: 0;
}

.about-container .text-fluid{
  padding: 0;
  font-size: 1rem;
}

/* Skills */
.skills-section {
  margin-top: 70%;
}

/* Portfolio */
.port {
  margin-top: 55%;
}

/* Resume */
.my-resume {
  margin-top: 115%;
}

.resume {
  display: flex;
  gap: 25px;
}

/* CONTACT START */
.footer {
  margin: 285% 0 5% 0;
  padding: 20% 0 0 0;
  height: 100vh;
}

.footer a {
  text-decoration: none;
}

.footer-paragraph {
  font-size: 14px;
  margin-top: 5%;
}

.contact-me {
  z-index: 2;
  background-color: #212529;
}

.images {
  text-align: center;
  /* width: 100%; */
}

.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-flui{
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

.img-flui p{
  font-size: 1rem;
}

.img-flui img {
  text-align: center;
  width: 15%;
}

.img-fluid{
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.img-fluid p{
  font-size: 1rem;
}

.img-fluid img {
  text-align: center;
  width: 15%;
}

.img-flu{
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.img-flu p{
  font-size: 1rem;
}

.img-flu img {
  text-align: center;
  width: 15%;
}

.last img {
  width: 100%;
  gap: 10px;
}
/* CONTACT END */
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    position: sticky;
  }

  .navbar img{
    width: 14%;
  }

  /* HOME MOBILE VIEW START */
.contain > .contain-1 {
  padding: 7% 0 0 0;
}

.contain > .contain-1 > img {
  width: 35%;
  margin-bottom: 3%;
}

.contain > div > h1 {
  font-size: 2.5rem;
}
/* HOME MOBILE VIEW END */

/* About me */
.about-parent .about-container .img-fluid{
  width: 70%;
  margin: 0 auto;
}

.about-parent .about-container .img-fluid .img{
  width: 100%;
  padding: 0;
  margin: 0;
}

.about-container .text-fluid{
  padding: 0;
  font-size: 1.3rem;
}

/* Skills */
.skills-section {
  margin-top: 50%;
}

/* Portfolio */
.port {
  margin-top: 25%;
}

/* Resume */
.my-resume {
  margin-top: 60%;
}

.resume {
  display: flex;
  /* gap: 2px 0; */
}

/* CONTACT START */
.footer {
  margin: 70% 0 5% 0;
  padding: 17% 0 7% 0;
  height: 100vh;
}

.footer a {
  text-decoration: none;
}

.footer-paragraph {
  font-size: 14px;
  margin-top: 5%;
}

.contact-me {
  z-index: 2;
  background-color: #212529;
}

.images {
  text-align: center;
  /* width: 100%; */
}

/* .links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.img-flui{
  /* margin-top: 5%; */
  width: 100%;
  text-align: center;
}

.img-flui p{
  font-size: 1.1rem;
}

.img-flui img {
  text-align: center;
  width: 12%;
}

.img-fluid{
  width: 100%;
  text-align: center;
  /* margin-top: 5%; */
}

.img-fluid p{
  font-size: 1.1rem;
  text-align: center;
}

.img-fluid img {
  width: 12%;
}

.img-flu{
  width: 100%;
  text-align: center;
  /* margin-top: 5%; */
}

.img-flu p{
  font-size: 1.1rem;
}

.img-flu img {
  text-align: center;
  width: 8%;
}

.last img {
  width: 100%;
  gap: 10px;
}
/* CONTACT END */
}

@media (min-width: 800px) and (max-width: 1280px) {
  /* .about-parent{
    margin-bottom: 5%;
  } */
  
  .about-parent .about-container .img-fluid .img{
    width: 100%;
  }
  
  .about-container .text-fluid{
    padding: 0;
    font-size: 1.2rem;
  }

  /* Skills */
.skills-section {
  margin-top: 0%;
}

/* Portfolio */
.port {
  margin-top: 4%;
}

/* Resume */
.my-resume {
  margin-top: 15%;
}

/* CONTACT START */
.footer {
  margin: 20% 0 5% 0;
  padding: 9% 0 7% 0;
  height: 100vh;
}
}


@media (min-width: 1050px) and (max-width: 1680px) {
  /* .about-parent{
    margin-top: 10%;
    background-color: red;
  } */

  #about {
    margin-bottom: 0%;
  }
  
  .about-parent .about-container .img-fluid .img{
    width: 100%;
  }
  
  .about-container .text-fluid{
    padding: 0;
    font-size: 1.1rem;
  }

  /* Skills */
/* .skills-section {
  margin-top: 17%;
} */

/* Portfolio */
/* .port {
  margin-top: 8%;
} */

/* Resume */
/* .my-resume {
  margin-top: 20%;
} */

/* CONTACT START */
/* .footer {
  margin: 25% 0 5% 0;
  padding: 7% 0 7% 0;
  height: 100vh;
} */
}